/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;*/
    /*padding-bottom: 0.5rem;*/
/*}

    .nav-item:first-of-type {*/
        /*padding-top: 1rem;*/
    /*}

    .nav-item:last-of-type {*/
        /*padding-bottom: 1rem;*/
    /*}

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        padding: 0;
    }*/

/*.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}*/

/*@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
}











.navbar .megamenu {
    padding: 1rem;
}*/

/* ============ desktop view ============ */
/*@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
}*/
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
/*@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}*/





























/*.nav-additional-info {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d6d6d6;
    padding-bottom: 5px;
}*/


/*.custom-tab-button {
    padding: 0px;
    margin: 3px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000000 !important;
}*/

    /*.custom-tab-button.active {
        opacity: 1 !important;
    }*/


    /*.custom-tab-button p {
        color: #fff;
        position: absolute;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
        padding-right: 10px;
    }

.custom-tab-button-img {
    width: 14.7em;
    height: 4rem;
    object-fit: cover;
    transition: .5s;*/
    /*opacity: 0.4;*/
/*}*/

























.navbar {
    padding: 10px;
}

.navbar-brand {
    font-size: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10px;
}



.custom-container {
    display: flex;
    justify-content: center;
}


.custom-nav-link {
    padding: 0px;
    margin: 3px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000000 !important;
}




@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}



.navbar .megamenu {
    padding: 1rem;
    /*display: flex;*/
    background-color: gray;
}

.dropdown-menu.show {
    display: flex !important;
}



/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }

    .dropdown-menu.show {
        display: block !important;
    }
}















