

.navbar-brand img {
    width: 5rem;
}

.navbar {
    border-bottom: 3px solid gray;
}

.nav-link {
    text-transform: uppercase;
    font-size: 21px;
}

@media (min-width: 992px) {
    .navbar {
        height: 3rem;
    }
}















