

.navbar-brand img {
    width: 5rem;
}

.navbar {
    border-bottom: 2px solid var(--color-black);
}

.nav-link {
    /*text-transform: uppercase;*/
    font-size: 21px;
    color: var(--color-black);
    font-family: var(--primary-font);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing);
    text-transform: lowercase;
}

.active {
    color: var(--color-red);
}
    .nav-link:hover {
        color: var(--color-red);
    }

.active:hover {
    color: var(--color-black);
}


@media (min-width: 992px) {
    .navbar {
        height: 3rem;
    }
}



.login-container,
.logout-container {
    display: flex;
}

    .logout-container p {
        margin: 0;
        color: var(--color-black);
        font-family: var(--primary-font);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--letter-spacing);
        text-transform: lowercase;
    }

    .login-container a,
    .logout-container a {
        color: var(--color-black);
        text-decoration: none;
        font-family: var(--primary-font);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--letter-spacing);
        text-transform: lowercase;
    }
