<div class="container text-center my-3">

    <p>Search by motorcycle body type:</p>

    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">

   

                <div class="carousel-item active">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/adventure.jpg" class="card-img-top custom-tab-button-img" alt="adventure">
                        <p>adventure</p>
                    </button>
                </div>
                <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/cafe_racer.jpg" class="card-img-top custom-tab-button-img" alt="cafe racer">
                        <p>cafe racer</p>
                    </button>
                </div>
                <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/chopper.jpg" class="card-img-top custom-tab-button-img" alt="chopper">
                        <p>chopper</p>
                    </button>
                </div>
                <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/commuter.jpg" class="card-img-top custom-tab-button-img" alt="commuter">
                        <p>commuter</p>
                    </button>
                </div>
                <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/cross.jpg" class="card-img-top custom-tab-button-img" alt="cross">
                        <p>cross</p>
                    </button>
                </div>
                <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/cruiser.jpg" class="card-img-top custom-tab-button-img" alt="cruiser">
                        <p>cruiser</p>
                    </button>
                </div>
                 <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/dual_sport.jpg" class="card-img-top custom-tab-button-img" alt="dual sport">
                        <p>dual sport</p>
                    </button>
                </div>
                 <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/naked.jpg" class="card-img-top custom-tab-button-img" alt="naked">
                        <p>naked</p>
                    </button>
                </div>
                 <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/scrambler.jpg" class="card-img-top custom-tab-button-img" alt="scrambler">
                        <p>scrambler</p>
                    </button>
                </div>
                 <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/sport.jpg" class="card-img-top custom-tab-button-img" alt="sport">
                        <p>sport</p>
                    </button>
                </div>
                 <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/sports_tourer.jpg" class="card-img-top custom-tab-button-img" alt="sports tourer">
                        <p>sports tourer</p>
                    </button>
                </div>
                 <div class="carousel-item ">
                    <button class="nav-link custom-tab-button" type="button" aria-current="page">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/touring.jpg" class="card-img-top custom-tab-button-img" alt="touring">
                        <p>touring</p>
                    </button>
                </div>












                                
                @*<div class="carousel-item active">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/adventure.jpg" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">adventure</div>
                        </div>
                    </div>
                </div>*@


                @*<div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/cafe_racer.jpg" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 2</div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/chopper.jpg" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/commuter.jpg" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/cross.jpg" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn-ps-motorcycle.azureedge.net/motorcycles/body-types/cross.jpg" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>*@













            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>