

.footer-container {
    background: deepskyblue;
    /*background-color: slategrey;*/
}

.text-muted {
    color: white !important;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

    .footer-info p {
        margin: 0;
        font-size: 12px;
        color: white;
    }