    
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid jumbotron-custom-container">
        <img class="jumbotron-custom-image" src="@this.ImgUrl" alt="@this.Title">
        <div class="jumbotron-custom-text-box">
            <h1>@this.Title</h1>
            <h2>@this.SubTitle</h2>
        </div>
    </div>
</div>