@attribute [Authorize]
@page "/"
@page "/motorcycle"



<div class="breadcrumbs-container">
    <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
</div>

<div class="container">



    








    <div class="toolbar-container">
        <div class="toolbar">
            <div class="d-grid gap-2 d-md-block">
                <AddButtonComponent />
                 
            </div>
        </div>
    </div>



    <div class="filter-container"></div>
    <div class="results-container">

       @* @if(this.Motorcycles is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {*@
            <!-- Cards -->
            
       @* }*@

        <div class="row row-cols-1 row-cols-md-3 g-4 motorcycles-list">



                 <Virtualize ItemsProvider="@this.LoadMotorcycles" Context="motorcycle">
                    <ItemContent>
                        <CardComponent Motorcycle="@motorcycle" />
                    </ItemContent>
                    <Placeholder>
                        <p>
                           Loading...
                        </p>
                    </Placeholder>
                </Virtualize>



               @* <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />*@


            </div>



    </div>
</div>



