@page "/admin"


@attribute [Authorize]


<div class="container">

    <div class="breadcrumbs-container"></div>
    <div class="filter-container"></div>
    <div class="results-container">

       @* @if(this.Motorcycles is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {*@
            <!-- Cards -->
            
       @* }*@

        <div class="row row-cols-1 row-cols-md-3 g-4 motorcycles-list">

               @* <Virtualize Items="@this.Motorcycles" Context="motorcycle" ItemSize="2" >
                    <ItemContent>
                        <PS.Motorcycle.UserPortal.Controls.CardComponent />
                    </ItemContent>
                </Virtualize>*@

                 <Virtualize ItemsProvider="@this.LoadMotorcycles" Context="motorcycle">
                    <ItemContent>
                        <CardComponent />
                    </ItemContent>
                    <Placeholder>
                        <p>
                           Loading...
                        </p>
                    </Placeholder>
                </Virtualize>



               @* <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />*@


            </div>



    </div>
</div>



