@attribute [Authorize]
@page "/motorcycle/edit/{Id:guid}"

<div class="breadcrumbs-container">
    <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
</div>

<h3>EditMotorcyclePage</h3>

@code {

}
