





.toolbar-container {
    margin-bottom: 2em;
    margin-top: 2em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d6d6d6;
}

.toolbar {
    /*padding: 1.5rem 0;*/
    margin-right: 0;
    margin-left: 0;
}


.about, .technical-details, .gallery {
    margin-bottom: 5em;
}

.additional-info-container {
    margin-top: 2em;
    margin-bottom: 3em;
}

