@using PS.Motorcycle.Domain.Types

<div class="filter-item">
    @if (this.SearchData != null && this.SearchData.resultList != null)
    {
        List<string> categories = this.SearchData.resultList.Facets["bodyType"].Select(x => x.Value.ToString()).ToList();

        if (categories.Count > 0)
        {
            <button class="btn btn-link filter-collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#bodyTypesBrand" aria-expanded="false" aria-controls="collapseExample">
                Drive Type
            </button>
            <div class="collapse" id="bodyTypesBrand">
                

            </div>

        }

                            
    }
</div>