
.filter-item {
    width: 100%;
}


.filter-collapse-btn {
    width: inherit;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}











.customCollapseBtn {
    text-decoration: none;
}

.facet-options-list {

    list-style-type: none !important;
    padding: 0;
}

.facet-option {
    
    text-transform: lowercase;
}

    .facet-option > label {
        text-decoration: none;
    }

    label::first-letter {
        text-transform: capitalize;
    }






