<div class="col">
    <div class="card">
        @*<img src="https://moto-trips.pl/wp-content/uploads/2021/02/Hayabusy.jpg" class="card-img-top" alt="...">*@
        <img src="https://moto-trips.pl/wp-content/uploads/2020/09/Suzuki-GSXS-750.jpg" class="card-img-top" alt="...">

        <div class="raven-image-container">
			<div class="raven-image">
		        <img src="https://moto-trips.pl/wp-content/uploads/elementor/thumbs/suzuki-logo-ok3ama4p4mdlfg1ussqu8uagq13x5ympl6t78c28ac.jpg" title="suzuki-logo" alt="suzuki-logo">	
            </div>
		</div>
        
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mark: <span>Suzuki</span></li>
                <li class="list-group-item">Model: <span>Hayabusa</span></li>
                <li class="list-group-item">Year: <span>2021</span></li>
            </ul>
        </div>
    </div>
</div>
