
@import "../wwwroot/styles/theme.scss";


/* phone first layout */

.pagination {
    padding: 10px 0;
    justify-content: space-between;
    margin: 0;
}

.page-link {
    border: none;
    font-family: var(--normal-font);
    font-weight: 500;
}

.page-link, .page-link:hover {
    color: var(---text-black);
}

.pageSelected {
    color: var(--text-red);
}

.disabled {
    color: var(--test-disabled);
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    .pagination {
        justify-content: flex-end;
    }
}


/* For Desktop View */
@media screen and (min-width: 1200px) {
    .pagination {
        justify-content: flex-end;
    }
}






