

<div class="container @(this.searchButtonClicked ? "search-container-box-2" : "search-container-box")">

        <div class="row @(this.searchButtonClicked ? "search-container-box-row-2" : "search-container-box-row") ">

            @if(!this.searchButtonClicked)
            {
                <div class="search-title col-sm-12">
                    <span>Search for technical and service data, photos and opinions about motorcycles</span>
                </div>
            }




        
            <div class="search-group">
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <input type="text" @bind="this.searchPhrase" class="form-control" placeholder="Search for make or model..." />
                </div>

                <div class="col-sm-12 col-md-2 col-lg-2 submit-btn-container">
                    <button type="submit" class="btn btn-outline-dark btn-custom" @onclick="@(() => this.OnClickHandler(this.searchPhrase))">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        Search
                    </button>
                </div>
            </div>
            

        </div>
    </div>