@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap");
:root {
  --header-background: #ffffff;
  --page-background: #ffffff;
  --panel-background: #ffffff;
  --container-background: #ffffff;
  --card-background: #ffffff;
  --footer-background: #ffffff;
  --color-black: #000000;
  --color-red: #c60021;
  --color-white: #ffffff;
  --color-disabled: #c2c6c9;
  --primary-font: "Poiret One", cursive;
  --secondary-font: "Montserrat", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --border-radius: 10px;
  --letter-spacing: 10px;
  --box-shadow: rgb(0 0 0 / 10%) 0px 0.3px 0.9px, rgb(0 0 0 / 13%) 0px 1.6px 3.6px;
  --border: 1px solid rgba(0,0,0,.125);
}

/* phone first layout */
.card {
  /*border-radius: 0;*/
  /*box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
  /*box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;*/
  /*box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
  /*box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
  /*border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.3px 0.9px, rgba(0, 0, 0, 0.13) 0px 1.6px 3.6px;
  cursor: pointer;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  font-family: var(--primary-font);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight-bold);
  padding: 0.5rem 0;
  text-transform: lowercase;
}

.card-body {
  z-index: 1;
}

.raven-image-container {
  position: relative;
  z-index: 2;
}

.raven-image {
  position: absolute;
  left: 50%;
}

.raven-image img {
  margin-left: -50%;
  margin-top: -30%;
  border-radius: 100px 100px 100px 100px;
}

.card-img-top {
  min-height: 12em;
  background-color: lightgrey;
}

/* For Tablet View */
/* For Desktop View */
/* phone (default) */
.footer-container {
  background: var(--footer-background);
  border-top: var(--border);
  padding: 12px;
}

.footer-icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

string {
  color: var(--color-black);
}

.text-muted {
  color: var(--color-black) !important;
  text-transform: lowercase;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: var(--letter-spacing);
}

.footer-info {
  display: flex;
  justify-content: center;
}

.footer-info p {
  margin-bottom: 0;
  margin-left: 10px;
  color: var(--color-red);
  text-transform: lowercase;
  font-family: var(--primary-font);
  font-weight: bold;
}

.footer-left {
  margin-bottom: 10px;
}

.footer-right {
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

/* For Tablet View */
/* For Desktop View */
@media screen and (min-width: 1200px) {
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-icons {
    padding-right: 20px;
    margin-bottom: 0;
  }
  .footer-left {
    margin: 0;
  }
  .footer-right {
    flex-direction: row;
    width: auto;
  }
  .text-muted {
    font-size: 17px;
  }
  .footer-info p {
    font-size: 12px;
    letter-spacing: var(--letter-spacing);
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///G:/Projects/VStudio/PS.Motorcycle/PS.Motorcycle.Common/wwwroot/styles/theme.scss%22,%22file:///G:/Projects/VStudio/PS.Motorcycle/PS.Motorcycle.Common/Controls/CardComponent.razor.scss%22,%22file:///G:/Projects/VStudio/PS.Motorcycle/PS.Motorcycle.Common/Controls/FooterComponent.razor.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AACQ;AACA;AAER;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;ACpBJ;AAGA;AAGI;AACA;AACA;AACA;AACA;AACA;AACA;AACA;AAAA;EAEA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;;;AAGJ;EACI;EACA;;;AAGA;EACI;EACA;EACA;;;AAGR;EACI;EACA;;;AAMJ;AAMA;AClEC;AACD;EACI;EACA;EACA;;;AAGJ;EACI;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;;;AAEJ;EACI;EACA;EACA;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;;;AAEJ;AAKA;AACA;EACI;IACI;IACA;IACA;;EAGJ;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;IACA;;EAGJ;IACI;;EAGJ;IACI;IACA%22%7D */