/* phone (default) */
/*.results-container {
    margin: 0;
}*/

/*.hide-unwanted-element {
    display: none;
}*/


/* For Tablet View */
/*@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .results-container {
        margin: 0;
    }
}*/


/* For Desktop View */
/*@media screen and (min-width: 1200px) {
    .results-container {
        margin: 0 10rem;
    }
}*/





/* phone (default) */
/*.results-container {
    margin: 0;
}*/

/*.hide-unwanted-element {
    display: none;
}*/


/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /*    .results-container {
        margin: 0;
    }*/
}


/* For Desktop View */
@media screen and (min-width: 1200px) {
    /*    .results-container {
        margin: 0 10rem;
    }*/
}



/*TODO: move to toolbar later*/

.toolbar-container {
    margin-bottom: 2em;
    margin-top: 2em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d6d6d6;
    padding: 5px 0;
}

.toolbar {
    /*padding: 1.5rem 0;*/
    margin-right: 0;
    margin-left: 0;
}


.search-container {
    margin-bottom: 2em;
    padding: 3em;
    /*box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em, rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;*/
    /*border-width: 2px;
    border-style: solid;
    border-color: #d6d6d6;*/
    box-shadow: rgb(0 0 0 / 10%) 0px 0.3px 0.9px, rgb(0 0 0 / 13%) 0px 1.6px 3.6px;
}


.filter-container{
    width: 100%;
}



.pageSelected {
    color: black;
}

.page-link {
    border: none;
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}



.filters-pils-container {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.filter-pill {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.filter-pill-close-btn {
    margin-left: 15px;
}