
/* phone (default) */
/*.content {
    background-image: url("/images/motorcycle-bg-1.png");
}*/


.main {
    height: inherit;
}

.main-section {}

.breadcrumbs-container {}

.main-search-section {
    height: calc(100% - 10rem);
}

.panel {
    background-color: var(--panel-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.search-panel {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.search-container {
    margin-bottom: 1em;
}

.body-type-container {}

.results-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-container {
    width: 100%;
    padding-bottom: 12px;
}

.cards-container {}

.empty-motorcycle-list {
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.paging-panel {
    margin-top: 1em;
}

.pagination-container {}



/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    #search-section {
        height: calc(100% - 6rem);
    }

    .results-container {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .filter-container {
        width: auto;
        border-right: 1px solid rgba(0,0,0,.125);
    }
}


/* For Desktop View */
@media screen and (min-width: 1200px) {
    #search-section {
        height: calc(100% - 6rem);
    }

    .results-container {
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .filter-container {
        width: 200px;
        padding-right: 12px;
        border-right: 1px solid rgba(0,0,0,.125);
    }
}


