@page "/counter"
@using PS.Motorcycle.Common.Controls
@using PS.Motorcycle.Domain.Models.Components
@using PS.Motorcycle.Domain.Services
@*@using PS.Motorcycle.Domain.Models.Components*@

<BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    public List<IBreadcrumb> Breadcrumbs { get; set; }


    [Inject]
    protected IBreadcrumbService _breadcrumbService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        IBreadcrumb breadcrumb = new Breadcrumb()
        {
            Text = "Counter",
            Url = "counter"
        };

        this.Breadcrumbs = this._breadcrumbService.GetBreadcrumb(breadcrumb);

    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
