@page "/"
@using PS.Motorcycle.Application.UserPortal.UseCases.MotorcycleUseCases.GetMotorcycles

@inject IGetMotorcyclesUseCase motorcycles

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />



@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var x = await this.motorcycles.GetMotorcyclesAsync();

        var y = 0;
    }
}