@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap");
:root {
  --header-background: #ffffff;
  --page-background: #ffffff;
  --container-background: #ffffff;
  --card-background: #ffffff;
  --footer-background: #ffffff;
  --text-black: #000000;
  --text-red: #c60021;
  --text-white: #ffffff;
  --header-font: "Poiret One", cursive;
  --normal-font: "Montserrat", sans-serif;
}

.pageSelected {
  color: var(--text-red);
}

.pagination {
  padding: 10px 0;
  justify-content: flex-end;
  margin: 0;
}

.page-link {
  border: none;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
